html {
    font-size: 62.5%; // 1rem = 16px => 16*.625 = 10 => now 1rem is 10px 
}
body {
    font-family:  Verdana, Arial, sans-serif;
    font-size: $m-size;
    background: white;
}
button {
    cursor: pointer;

}
button:disabled {
    cursor: default;
}

ul > li {
    border: 1px solid;
    display: table-cell; 
    padding-left: $s-size;
}

.is-active {
    font-weight: bold;
}